* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
  /* Core theme */
  --background: #000000;
  --gradient_1: #09111d;
  --gradient_2: #151d31;

  --surface: rgba(20, 20, 25, 0.7);

  --text: #ffffff;
  --text_invert: #ffffff; /*inverted in light mode*/
  --muted-text: rgba(255, 255, 255, 0.65);

  /* Accent system */
  --text-glow: rgba(120,200,255,0.6);

  /* UI structure */
  --border: rgba(37, 76, 103, 0.4);
  --border-shadow: 0 0 20px rgba(120, 200, 255, 0.08);

  /* Glow system (for canvas / atoms / bonds) */
  --glow: rgba(120, 200, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.light-theme {
    /* Core theme */
  --background: #ffffff;
  --gradient_1: #d8f4ff;
  --gradient_2: #bfd4ff;
  --surface: #5a5a5d;

  --text: #0b1220;
  --text_invert: #ffffff
  --muted-text: rgba(11, 18, 32, 0.65);

  /* Accent system */
  --text-glow:  rgba(91, 155, 213, 0.25);

  /* UI structure */
  --border: rgba(37, 76, 103, 0.4);
  --border-shadow: 0 0 20px rgba(120, 200, 255, 0.08);

  /* Glow system (for canvas / atoms / bonds) */
  --glow: rgba(120, 200, 255, 0.6);
}

.light-theme .nav-icon {
  transition: all 0.2s ease;
  filter: brightness(0) invert(0);
}

.light-theme a:hover .nav-icon {
  opacity: 1;
  transform: scale(1.2);
  filter: brightness(0) invert(0)
          drop-shadow(0 0 8px var(--text-glow));
}