*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* Core theme */
  --background: #000000;
  --gradient_1: #09111d;
  --gradient_2: #151d31;

  --surface: rgba(20, 20, 25, 0.7);

  --text: #ffffff;          /* dark mode: white text */
  --text_invert: #ffffff;   /* dark mode: also white (navbar links) */
  --muted-text: rgba(255, 255, 255, 0.65);

  /* Accent system */
  --text-glow: rgba(120,200,255,0.6);

  /* UI structure */
  --border: rgba(37, 76, 103, 0.4);
  --border-shadow: 0 0 20px rgba(120, 200, 255, 0.08);

  /* Glow system (for canvas / atoms / bonds) */
  --glow: rgba(120, 200, 255, 0.6);
}

.light-theme {
    /* Core theme */
  --background: #deddd8;
  --gradient_1: #ffffff;
  --gradient_2: #deddd8;
  --surface: #5a5a5d;

  --text: #0b1220;          /* light mode: dark text */
  --text_invert: #ffffff;   /* light mode: STAYS white (navbar on dark surface) */
  --muted-text: rgba(11, 18, 32, 0.65);

  /* Accent system */
  --text-glow:  rgba(91, 155, 213, 0.25);

  /* UI structure */
  --border: rgba(37, 76, 103, 0.4);
  --border-shadow: 0 0 20px rgba(120, 200, 255, 0.08);

  /* Glow system (for canvas / atoms / bonds) */
  --glow: rgba(30, 60, 120, 0.6);
}